/*https://colorhunt.co/palette/213441*/
body {
  background-color: #e8ffff;
}

hr {
  border-style: none;

  /*width: 7%;*/
  
  width: 85px;
  height: 2px;

  /*background-color: #7579e7;*/

  border-top: 10px dotted red;
}

h1 {
  color: #213e3b;
}
 
h3 {
  color: #41aea9;
}

